button {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    border: none;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.1em;
    cursor: pointer;
    transition: var(--standard-transition);
    text-align: center;
    font-weight: medium;
}